@import "./src/assets/vars";

.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $white;

  border-radius: $border-radius-large;
  box-shadow: $drop-shadow;

  @include space(padding, vr-3);
  @include space(gap, vr-3);
}
