<app-form-modal [fGroup]="userForm" (submitForm)="createUser($event)">
  <app-input
    [placeholder]="'Full name'"
    [fGroup]="userForm"
    [fControlName]="'fullname'"
    [isError]="
      userForm.controls.fullname.touched && userForm.controls.fullname.invalid
    "
    [errorMessage]="'Name is required'"
  >
    <ng-container icon>
      <mat-icon color="accent"> person </mat-icon>
    </ng-container>
  </app-input>

  <app-input
    [placeholder]="'E-mail'"
    [fGroup]="userForm"
    [fControlName]="'email'"
    [isError]="
      userForm.controls.email.touched && userForm.controls.email.invalid
    "
    [errorMessage]="
      userForm.controls.email.errors?.pattern
        ? 'Doesn\'t match pattern'
        : 'Email is required'
    "
  >
    <ng-container icon>
      <mat-icon color="accent"> email </mat-icon>
    </ng-container>
  </app-input>

  <app-input
    [placeholder]="'Avatar URL'"
    [fGroup]="userForm"
    [fControlName]="'avatar'"
  >
    <ng-container icon>
      <mat-icon color="accent"> photo </mat-icon>
    </ng-container>
  </app-input>
</app-form-modal>
