<div class="input"
     [class.input--error]="isError"
>
  <ng-container *ngIf="fGroup; else basicInput" [formGroup]="fGroup">
    <input
      matInput
      placeholder="{{ placeholder }}"
      [formControlName]="fControlName"
      [(ngModel)]="value"
    />
  </ng-container>

  <ng-template #basicInput>
    <input
      matInput
      placeholder="{{ placeholder }}"
      [(ngModel)]="value"
      (ngModelChange)="valueChange.emit($event)"
    />
  </ng-template>

  <p *ngIf="isError" class="input_error-message">
    {{ errorMessage }}
  </p>


  <div
    class="input_icon"
    *ngIf="isAllowClear && !value?.length; else clearButton"
  >
    <ng-content select="[icon]"></ng-content>
  </div>
  <ng-template #clearButton>
    <button
      mat-icon-button
      color="accent"
      aria-label="Input clear button"
      class="input_icon"
      (click)="value = ''; valueChange.emit('')"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </ng-template>
</div>
