@import "./src/assets/vars";

.input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  box-shadow: $drop-shadow;
  border-radius: $border-radius-large;

  background-color: $white;

  @include space(padding, vr-2);
  @include space(padding-left, vr-2);

  @include font($typography-p1...);

  &_error-message {
    position: absolute;
    bottom: -42px;

    color: $red;

    @include font($typography-p1...);
  }

  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
  }

  &--error {
    box-shadow: 2px 2px 18px $red-40;
  }
}
