<ng-container
  *init="{
    learnings: learnings$ | async,
    users: users$ | async,
    isEditLearningModal: isEditLearningModal$ | async
  } as params"
>
  <app-learnings-table
    [learnings]="params.learnings"
    [allUsers]="params.users"
    (changeLearningStatus)="changeLearningStatusHandler($event)"
    (changeLearningUsers)="changeLearningUsersHandler($event, params.users)"
    (createNewLearning)="editLearning('new')"
    (deleteLearning)="deleteLearningHandler($event)"
  ></app-learnings-table>

  <app-create-learning
    *ngIf="params.isEditLearningModal"
    (closeForm)="editLearning(null)"
  ></app-create-learning>
</ng-container>
