<div
  *init="{
    editableLearningId: editableLearningId$ | async,
    editableLearningUsers: editableLearningsUsers$ | async,
    searchValue: searchValue$ | async
  } as params"
  class="learnings-table scroll-container"
>
  <ng-container
    *init="
      learnings
        | call: filterLearningsByQuery:params.searchValue as filteredLearnings
    "
  >
    <div class="learnings-table_top-bar blurry-background evaluation-1">
      <app-input
        class="learnings-table_top-bar__search"
        [value]="params.searchValue"
        [placeholder]="'Search'"
        (valueChange)="searchValue$.next($event)"
      >
        <ng-container icon>
          <mat-icon color="accent">search</mat-icon>
        </ng-container>
      </app-input>
      <button
        mat-fab
        color="accent"
        aria-label="Add new learning button"
        matTooltip="Add new learning"
        [matTooltipShowDelay]="1500"
        (click)="createNewLearning.emit()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <app-learning-archive-card
      *ngFor="
        let learning of filteredLearnings
          | call: performPagination:pageIndex:pageSize
      "
      [learning]="learning"
      (changeLearningStatus)="changeLearningStatusHandler($event, learning.id)"
      (editUsersList)="openUsersDialog($event, learning.id, allUsers)"
    ></app-learning-archive-card>

    <app-edit-users-dialog
      *ngIf="params.editableLearningId"
      [users]="params.editableLearningUsers"
      (closeDialog)="
        updateSelectedUsers($event, params.editableLearningId, learnings)
      "
    ></app-edit-users-dialog>

    <mat-paginator
      [length]="learnings.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="changePage($event)"
      aria-label="Select page"
      class="learnings-table_paginator blurry-background"
    >
    </mat-paginator>
  </ng-container>
</div>
