@import "./src/assets/vars";

.learnings-table {
  position: relative;

  display: flex;
  flex-direction: column;
  overflow: auto;

  height: calc(100vh - 240px);

  @include space(gap, vr-3);
  @include space(padding, vr-1);

  &_search {
    position: sticky;
    top: 0;
  }

  &_paginator {
    position: sticky;
    bottom: 0;
  }
}
