@import "./src/assets/vars";

.learnings-table {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  height: calc(100vh - 240px);

  @include space(gap, vr-3);
  @include space(padding, vr-1);
}
