@import "./src/assets/vars";

.edit-learning {
  position: absolute;
  top: 25%;
  left: 30%;

  width: 40%;

  @include space(padding, vr-3);

  &_overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: $black-40;
  }

  &_hint {
    position: absolute;
    top: -48px;

    color: $white-60;

    @include font($typography-code...);
  }

  &_form {
    display: flex;
    flex-direction: column;

    @include space(gap, vr-2);
  }

  &_submit-button {
    display: flex;
    align-self: center;
  }
}
