<div class="learning-card shadowed-container">
  <div class="learning-card--left">
    <img
      src="{{ learning.cover }}"
      alt="{{ learning.title }} cover"
      class="learning-card_cover"
    />

    <div class="learning-card_info">
      <p class="learning-card_title">
        {{ learning.title }}
      </p>
      <p class="learning-card_description">
        {{ learning.description }}
      </p>
      <div class="learning-card_duration">
        <mat-icon>watch_later</mat-icon>
        {{ learning.duration }}
      </div>
    </div>
  </div>

  <mat-chip class="learning-card_users"
            (click)="editUsersList.emit(learning.users)"
    >{{ learning.users?.length || 0 }} user{{ learning.users?.length > 1 ? 's' : '' }}</mat-chip
  >

  <div
    class="learning-card_status"
    [class.learning-card_status--active]="
      learning.status === learningStatus.Active
    "
  >
    <mat-chip [matMenuTriggerFor]="statusMenu" class="learning-card_status__button">{{
      learning.status === learningStatus.Active ? "Active" : "Inactive"
    }}</mat-chip>

    <mat-menu #statusMenu="matMenu">
      <button
        mat-menu-item
        (click)="changeLearningStatus.emit(learningStatus.Active)"
      >
        Active
      </button>
      <button
        mat-menu-item
        (click)="changeLearningStatus.emit(learningStatus.Inactive)"
      >
        Inactive
      </button>
    </mat-menu>
  </div>

  <app-delete-button
    [isConfirmation]="true"
  ></app-delete-button>
</div>
