@import "./src/assets/vars";

.learning-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include space(padding, vr-4);

  &--left {
    display: flex;
    flex-direction: row;
    align-items: center;

    flex: 3;
  }

  &_cover {
    @include space(margin-right, vr-3);
  }

  &_title {
    @include font($typography-h2...);
  }

  &_description {
    color: $black-60;

    @include font($typography-code...);
  }

  &_duration {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 72px;

    color: $black-40;

    @include font($typography-p1...);
  }

  &_users {
    display: flex;
    flex: 1;

    &__button {
      cursor: pointer;
    }
  }

  &_status {
    display: flex;
    flex: 1;

    .mat-chip {
      background-color: $red-40;
    }

    &__button {
      cursor: pointer;
    }

    &--active {
      .mat-chip {
        background-color: $green-40;
      }
    }
  }
}
