<div class="app">
  <app-navigation-bar class="app_navigation">
    <ng-container logo>
      <img src="assets/images/logo-dark-blue.svg" alt="studytube-logo" class="app_navigation__logo" />
    </ng-container>
    <ng-container navigationTabs>
      <a
        class="app_navigation__link"
        [routerLink]="['users']"
        [routerLinkActive]="'app_navigation__link--active'"
        >Users</a
      >
      <a
        class="app_navigation__link"
        [routerLink]="['learnings']"
        [routerLinkActive]="'app_navigation__link--active'"
        >Learnings</a
      >
    </ng-container>
  </app-navigation-bar>
  <div class="app_container shadowed-container">
    <router-outlet></router-outlet>
  </div>
</div>
