<div class="textarea shadowed-container">
  <ng-container *ngIf="fGroup; else basicTextarea" [formGroup]="fGroup">
    <textarea
      [placeholder]="placeholder"
      [formControlName]="fControlName"
      [(ngModel)]="value"
    ></textarea>
  </ng-container>

  <ng-template #basicTextarea>
    <textarea
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (ngModelChange)="valueChange.emit($event)"
    ></textarea>
  </ng-template>

  <div
    class="textarea_icon"
    *ngIf="isAllowClear && !value?.length; else clearButton"
  >
    <ng-content select="[icon]"></ng-content>
  </div>
  <ng-template #clearButton>
    <button
      mat-icon-button
      color="accent"
      aria-label="Textarea clear button"
      class="textarea_icon"
      (click)="value = ''; valueChange.emit('')"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </ng-template>
</div>
