<div class="users-table">
  <div class="users-table_top-bar">
    <div class="users-table_top-bar__search">
      <app-input
        [value]="searchValue"
        [placeholder]="'Search'"
        [isAllowClear]="true"
        (valueChange)="filterUsersByQuery($event)"
      ></app-input>
    </div>
    <button
      mat-fab
      color="accent"
      aria-label="Add new user button"
      matTooltip="Add user"
      [matTooltipShowDelay]="1500"
      (click)="createUser.emit()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>


  <table class="users-table_container" mat-table [dataSource]="dataSource">
    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef>Avatar</th>
      <td mat-cell *matCellDef="let element">
        <app-avatar
          [image]="element.avatar"
          [altLabel]="element.fullname + ' avatar'"
          [size]="'s'"
        ></app-avatar>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td
        mat-cell
        class="users-table_text-cell"
        *matCellDef="let element"
        [innerHTML]="element.fullname | highlight: searchValue"
      ></td>
    </ng-container>

    <!-- E-mail Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td
        mat-cell
        class="users-table_text-cell"
        *matCellDef="let element"
        [innerHTML]="element.email | highlight: searchValue"
      ></td>
    </ng-container>

    <!-- Learnings Column -->
    <ng-container matColumnDef="learnings">
      <th mat-header-cell *matHeaderCellDef>Learnings</th>
      <td mat-cell class="users-table_text-cell" *matCellDef="let element">
        <mat-chip-list #chipsList aria-label="Learnings list">
          <mat-chip
            *ngFor="let learning of element.learnings | call: sortLearnings"
          >
            {{ learning.title }}
          </mat-chip>
          <mat-chip
            *ngIf="element.learnings?.length"
            class="users-table_edit-learnings-button"
            color="accent"
            (click)="editLearnings.emit(element.id)"
          >
            <mat-icon>edit</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <!-- Delete User Button Column -->
    <ng-container matColumnDef="edit">
      <th
        class="users-table_edit-column"
        mat-header-cell
        *matHeaderCellDef
      ></th>
      <td class="users-table_edit-column" mat-cell *matCellDef="let element">
        <app-delete-button
          [isLoading]="element.id === deletingUserId"
          [isConfirmation]="true"
          (confirmationClick)="deleteUser.emit(element.id)"
        ></app-delete-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="users-table_row"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
