@import "./src/assets/vars";

.users-table {

  @include space(padding, vr-1);

  ::ng-deep td, th {
    border: none;
  }

  ::ng-deep tr {
    height: 64px;
  }

  &_container {
    width: 100%;
  }

  &_search {
    @include space(margin-bottom, vr-2);
  }

  &_avatar {
    width: 32px;
    height: 32px;
  }

  &_text-cell {
    @include font($typography-p1...);
  }

  &_row {
  }

  &_edit-column {
    width: 32px;
  }

  &_edit-learnings-button {
    width: 32px;

    padding: 6px;

    cursor: pointer;

    mat-icon {
      font-size: 20px;
      line-height: 24px;
    }

    &:hover {
      color: $white;
      background-color: $accent;
      transition: 0.3s;
    }
  }
}
