@import "./src/assets/vars";

.user-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $white;
  border-radius: $border-radius-medium;
  box-shadow: $drop-shadow;

  @include space(padding, vr-2);
  @include space(gap, vr-2);

  &_avatar {
    width: 72px;
    height: 72px;
  }

  &_name {
    @include font($typography-h2...);
  }
}
