$yellow: rgba(255, 221, 101, 1);
$yellow-60: rgba(255, 233, 153, 1);
$yellow-40: rgba(255, 241, 193, 1);
$yellow-10: rgba(255, 248, 224, 1);

$accent: rgba(255, 64, 129, 1);
$accent-40: rgba(255, 64, 129, 0.4);
$accent-20: rgba(255, 64, 129, 0.2);

$black: rgba(0, 0, 0, 1);
$black-60: rgba(0, 0, 0, 0.6);
$black-40: rgba(0, 0, 0, 0.4);
$black-10: rgba(0, 0, 0, 0.1);

$grey: rgba(115, 151, 171, 1);
$grey-40: rgba(199, 213, 222, 1);
$grey-40: rgb(199, 213, 222);
$grey-20: rgba(227, 234, 238, 1);
$grey-10: rgba(241, 245, 247, 1);

$white: rgba(255, 255, 255, 1);
$white-60: rgba(255, 255, 255, 0.6);
$white-20: rgba(255, 255, 255, 0.2);

$green: rgba(67, 160, 71, 1);
$green-40: rgba(67, 160, 71, 0.4);
$red: rgba(229, 57, 53, 1);
$red-40: rgba(229, 57, 53, 0.4);
