@import "./colors.scss";
@import "./fonts.scss";
@import "./vertical-rhythm.scss";
@import "./media.scss";

$border-radius-large: 2.75rem;
$border-radius-medium: 1.75rem;

$drop-shadow: 2px 2px 18px rgba(11,11,43,0.08);
$drop-shadow-hover: 2px 2px 32px rgba(11,11,43,0.15);

