<!--TODO Add validation on close if form is Dirty-->
<div class="create-learning shadowed-container evaluation-3">
  <form
    class="create-learning_form"
    [formGroup]="learningForm"
    (ngSubmit)="createLearning(learningForm)"
  >
    <app-input
      [placeholder]="'Title'"
      [fGroup]="learningForm"
      [fControlName]="'title'"
    >
      <ng-container icon>
        <mat-icon color="accent"> create </mat-icon>
      </ng-container>
    </app-input>

    <app-textarea
      [fGroup]="learningForm"
      [fControlName]="'description'"
      [placeholder]="'Learning description'"
    >
      <ng-container icon>
        <mat-icon color="accent"> subject </mat-icon>
      </ng-container>
    </app-textarea>

    <app-input
      [placeholder]="'Duration'"
      [fGroup]="learningForm"
      [fControlName]="'duration'"
    >
      <ng-container icon>
        <mat-icon color="accent"> watch_later </mat-icon>
      </ng-container>
    </app-input>

    <app-input
      [placeholder]="'Cover URL'"
      [fGroup]="learningForm"
      [fControlName]="'cover'"
    >
      <ng-container icon>
        <mat-icon color="accent"> photo </mat-icon>
      </ng-container>
    </app-input>

    <!--    <input-->
    <!--      formControlName="cover"-->
    <!--      id="file"-->
    <!--      type="file"-->
    <!--      class="form-control"-->
    <!--      (change)="onLoadCover($event)"-->
    <!--    />-->
    <!--      <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">-->
    <!--        <div *ngIf="f.name.errors.required">Name is required.</div>-->
    <!--        <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>-->
    <!--      </div>-->

    <button
      mat-raised-button
      color="accent"
      aria-label="Submit form button"
      type="submit"
    >
      Create
    </button>
  </form>
</div>
<!--TODO Move to directive-->
<div
  class="create-learning_overlay evaluation-2"
  (click)="closeForm.emit()"
></div>
