/* You can add global styles to this file, and also import other style files */
@import "./src/assets/vars";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mark {
  padding: 0 1px;
  font-weight: 400;
  background-color: $black-10;
  border-radius: 2px;
}

.shadowed-container {
  background-color: $white;
  border-radius: $border-radius-medium;
  box-shadow: $drop-shadow;

  &--hover {
    &:hover {
      box-shadow: $drop-shadow-hover;
    }
  }
}
