/* You can add global styles to this file, and also import other style files */
@import "./src/assets/vars";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mark {
  padding: 0 1px;
  background-color: $black-10;
  border-radius: 2px;
}

.shadowed-container {
  background-color: $white;
  border-radius: $border-radius-medium;
  box-shadow: $drop-shadow;

  &--hover {
    &:hover {
      box-shadow: $drop-shadow-hover;
    }
  }
}

.scroll-container {
  &::-webkit-scrollbar-track {
    background-color: $grey-10;
    border-radius: 2px;
  }

  &::-webkit-scrollbar {
    width: 5px;

    background-color: $grey-10;
    border-bottom-right-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent-40;
    border-radius: 100px;
  }
}

.blurry-background {
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-color: $white;

    filter: blur(4px);
    -webkit-filter: blur(4px);
  }
}

.evaluation-1 {
  z-index: 1;
}

.evaluation-2 {
  z-index: 2;
}

.evaluation-3 {
  z-index: 3;
}
